@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
	font-size: inherit;
	font-family: "Rubik", sans-serif;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button {
	font: inherit;
}

:root {
	/* !Primary */

	--Blue: hsl(246, 80%, 60%);

	/** work */
	--Light-orange: hsl(15, 100%, 70%);
	/** play */
	--Soft-blue: hsl(195, 74%, 62%);
	/** study */
	--Light-red: hsl(348, 100%, 68%);
	/** exercise */
	--Lime-green: hsl(145, 58%, 55%);
	/** social */
	--Violet: hsl(264, 64%, 52%);
	/** self care */
	--Soft-orange: hsl(43, 84%, 65%);

	/* !Neutral */

	--Very-dark-blue: hsl(226, 43%, 10%);
	--Dark-blue: hsl(235, 46%, 20%);
	--Desaturated-blue: hsl(235, 45%, 61%);
	--Pale-Blue: hsl(236, 100%, 87%);
}

body {
	min-height: 100svh;
	background-color: var(--Very-dark-blue);
}

.container {
	padding: 3rem 1.5rem;
	gap: 1.7rem;
	display: grid;
	min-width: 220px;
}

.user-card {
	border-radius: 1rem;
	overflow: hidden;
	background-color: var(--Dark-blue);
}

.user-card .dwm {
	display: flex;
	font-weight: 400;
	padding-block: 1.4rem;
	color: var(--Pale-Blue);
	justify-content: space-around;
}

.user-card .dwm p:hover {
	color: white;
	cursor: pointer;
}

.user-info {
	width: 100%;
	display: flex;
	padding: 1.5rem;
	border-radius: 1rem;
	align-items: center;
	justify-content: space-between;
	background-color: var(--Blue);
}

.info-right {
	display: grid;
	gap: 2px;
}

.user-info img {
	max-width: 4rem;
	margin-right: 1rem;
	border-radius: 50%;
	border: 3px solid white;
}

.user-info p {
	font-size: 0.9rem;
	color: var(--Pale-Blue);
}

.user-info h1 {
	font-size: 1.5rem;
	font-weight: 300;
	color: white;
}

/* -------------------------------- */

.cards {
	gap: 1.7rem;
	display: grid;
	/* flex-wrap: wrap; */
}

.card {
	display: grid;
	cursor: pointer;
	/* min-width: 310px; */
	overflow: hidden;
	isolation: isolate;
	position: relative;
	border-radius: 1rem;
	place-items: end start;
}

.card:hover .card-content {
	background-color: var(--Desaturated-blue);
}

.card-logo {
	z-index: -2;
	top: -1rem;
	right: 0.5rem;
	transform: scale(0.8);
	position: absolute;
}

.card:nth-of-type(1) {
	background-color: var(--Light-orange);
}

.card:nth-of-type(2) {
	background-color: var(--Soft-blue);
}

.card:nth-of-type(3) {
	background-color: var(--Light-red);
}

.card:nth-of-type(4) {
	background-color: var(--Lime-green);
}

.card:nth-of-type(4) .card-logo {
	transform: translateY(10px);
}

.card:nth-of-type(5) {
	background-color: var(--Violet);
}

.card:nth-of-type(6) {
	background-color: var(--Soft-orange);
}

.card-content {
	height: 80%;
	width: 100%;
	gap: 0.5rem;
	display: grid;
	overflow: hidden;
	border-radius: 1rem;
	align-content: center;
	padding: 2.5rem 1.2rem;
	background-color: var(--Dark-blue);
}

.card-top h3 {
	color: white;
	font-weight: 400;
}

.card-bottom h4 {
	color: white;
	font-weight: 300;
	font-size: 2rem;
}

.card-bottom p {
	color: var(--Pale-Blue);
}

.card-top,
.card-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.total-weekly {
	display: none;
}

.total-monthly {
	display: none;
}

.attribution {
	display: none;
}

@media screen and (min-width: 656px) {
	.cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1000px) {
	body {
		display: flex;
		min-height: 100vh;
		align-items: center;
		justify-content: center;
	}

	.container {
		display: grid;
		width: 1200px;
		padding: 0 1.5rem;
		min-height: 550px;
		grid-template-rows: 1fr;
		grid-template-columns: 0.8fr 2.5fr;
	}

	.user-card {
		display: grid;
		grid-template-rows: 2.1fr 1fr;
	}

	.user-info {
		gap: 4rem;
		padding-block: 2rem;
		display: grid;
		align-content: start;
	}

	.user-info h1 {
		font-size: 2.5rem;
	}

	.user-info img {
		max-width: 5rem;
	}

	.dwm {
		gap: 0;
		display: flex;
		padding-inline: 1.5rem;
		flex-direction: column;
	}

	.cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.card-content {
		display: flex;
		padding: 1rem 2rem;
		flex-direction: column;
		justify-content: space-around;
	}

	.card-top h3 {
		font-size: 1.2rem;
	}

	.card-bottom {
		display: flex;
		gap: 0.5rem;
		align-items: start;
		flex-direction: column;
	}

	.card-bottom h4 {
		font-size: 3.8rem;
		letter-spacing: 0.1px;
	}

	.attribution {
		display: block;
		bottom: 0;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
	}

	.attribution,
	a {
		bottom: 1rem;
		font-size: 1rem;
		color: hsla(236, 100%, 87%, 0.2);
	}
}
